*{
    padding: 0px;
    margin: 0px;
    font-family: "Tajawal-Medium" ;
}
html{
    overflow-x: hidden;
}
.continer-sections{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 247, 247);
}
.nav-bar-section{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.search-mobile{
    display: none;
}
.search-section{
    margin-left: 20%;
}
.search-area a{
    text-decoration: none;
    background: rgb(243, 168, 168);
    padding: 0px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.search-area a:hover{
    text-decoration: none;
    color: #fff;
}
.search-area input{
    border: 1px solid #dddddd60;
    width: 300px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
}
.search-area a:hover{
    opacity: .8;
}

.logo-section img{
    width: 100px;
    height: 70px;
}
.links-section a{
    text-decoration: none;
    color: #252525;
    margin: 0px 15px;
    font-size: 18px; 
    font-weight: bold;
    font-family: "Tajawal-Medium" ;
}
.links-section a:hover{
    text-decoration: none;
    opacity: .7;
    color: #25252599;
}
.sala-section i{
    font-size: 30px;
}
.products-continer{
    background-color: #fff;
    padding: 0em 7em 4em;
}
.product-area{
    margin: 4em 0px;
}
.product{
    height: 300px;
    border: 1px solid #fcefef;
    box-shadow: 0px 5px 20px #ff000012;
    padding: 0px !important;
}
.product:hover{
    /* border: 1px solid #fad2d2; */
    cursor: pointer;
    /* transform: scale(1.1); */
}
.product img{
    width: 100%;
    height: 100%;
}
.product-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product-info h2{
    font-family: "Tajawal-bold";
    font-size: 30px;
    /* color: #252525; */
    color: #ff5a5a;
    font-weight: 600;
}
.product-info p{
    font-family: "Tajawal-bold" !important;
    font-size: 28px;
    color: #252525;
    font-weight: 700;
    margin-top: -5px;
}

.footer{
    padding: 20px !important;
    padding-left: 7em !important;
    padding-right: 7em !important;
    background: rgb(250, 235, 235);
}
.footer h2{
    font-size: 22px;
    color: #252525;
    font-family: "Tajawal-bold" !important;
    font-weight: bold;
}
.footer span{
    display: block;
    margin-top: 10px;
}
.email, .tell{
    text-decoration: none;
    font-size: 18px;
    color: #252525;
    font-family: "Tajawal-bold" !important;
}
.email:hover, .tell:hover{
    text-decoration: none;
    color: #25252590;
    cursor: pointer;
}
.social-media-section h3{
    font-size: 22px;
    color: #252525;
    font-family: "Tajawal-bold" !important;
    font-weight: bold;
}
.social-media-section >div{
    padding: 0px !important;
    width: 40%;
}
.social-media-section >div i{
    margin: 10px 0px;
    color: #25252599;
    font-size: 19px;
}
.social-media-section >div a{
    font-size: 18px;
    color: #252525;
    font-weight: 600;
    text-decoration: none;
}
.social-media-section >div:hover {
    opacity: .7;
    cursor: pointer;
}
.links-footer a {
    display: block;
    text-decoration: none;
    color: #252525;
    font-size: 18px;
    margin-top: 10px;
    width: 40%;
}
.links-footer a:hover{
    text-decoration: none;
    color: #25252599;
}
.links-footer h2{
    font-size: 22px;
    color: #252525;
    font-family: "Tajawal-bold" !important;
    font-weight: bold;
}

.footer-store{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-weight: 600;
    font-family: "Tajawal-bold";
    background: rgb(250, 235, 235);
    font-size: 20px;
    border-top: 1px solid rgb(253, 204, 204);
    padding: 8px 0px;
}


@media screen and (max-width: 1100px){
    .search-section input{
        width: 200px;
        height: 35px;
    }
}
@media screen and (max-width: 950px){
    .search-section input{
        width: 180px;
        height: 35px;
    }
    .search-section{
        margin-left: 10%;
    }
    .search-section a{
        padding: 0px 10px;
    }
    .links-section a{
        font-size: 16px;
    }
}
@media screen and (max-width: 460px){
    .products-continer {
        padding: 2em 2em;
    }
    .continer-sections{
        padding: 10px 0px;
        margin-right: -10px;
    }
    .nav-bar-section{
        width: 100%;
    }
    .search-section {
        display: none;
    }
    .search-area input{
        width: 73%;
        height: 35px;
    }
    .links-section a{
        margin: 0px 5px;
    }
    .logo-section img{
        width: 60px;
        height: 40px;
    }
    .search-mobile{
        display: block;
        width: 100%;
        padding: 0px 20px;
    }
    .footer{
        margin-top: 4em;
        padding: 3em !important;
        text-align: center;
    }
    .social-media-section{
        border-bottom: 1px solid rgb(253, 204, 204);
        border-top: 1px solid rgb(253, 204, 204);
        padding: 20px 0px;
    }
    .social-media-section >div{
        width: 100% !important;
    }
    .footer{
        padding: 2em !important;
    }
    .footer >div:not(:first-child){
        margin-top: 20px;
    }
    .links-footer a{
        width: 100%;
    }
}
